<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



<head th:replace = "~{admin/fragments/header}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace = "~{admin/fragments/sidebar}">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace = "~{admin/fragments/top-bar}">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <form th:action="@{/admin/products/search-products}" method="get" style="display: flex; justify-content: space-between; align-items:center; padding: 2rem 0rem;">
                    <div style="display: flex; justify-content: space-between; align-items:center; width: 20rem;">
                        <input type="text" class="form-control rounded" placeholder="Search" name="keyword" aria-label="Search" aria-describedby="search-addon" style="margin-right: 10px; width: 20rem;" th:value="${keyword}" />
                        <input type="text" name="page" value="1" style="display: none;" />
                        <button type="submit" class="btn" style="background:#222831;color:#fff;">search</button>
                    </div>
                    <a th:href="@{/admin/products/add-product}" class="btn" style="background:#222831;color:#fff;">Add Product</a>
                </form>




                <p th:if="${size == 0} ">No Products</p>
                <div th:if = "${success}" class = "text-center alert alert-success">
                    <p th:text = "${success}"></p>
                </div>
                <div th:if = "${error}" class="text-center alert alert-danger">
                    <p th:text = "${error}"></p>
                </div>




                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-sm-6 col-lg-4 all pizza" th:each = "product : ${products}">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img th:src="'http://localhost:8080/api/v1/image/' + ${product.image}" alt="" />
                                    </div>
                                    <div class="detail-box">
                                        <h5>Delicious Pizza</h5>
                                        <p>
                                            Veniam debitis quaerat officiis quasi cupiditate quo,
                                            quisquam velit, magnam voluptatem repellendus sed eaque
                                        </p>
                                        <div class="options">
                                            <h6>$20</h6>
                                        </div>
                                        <div style="display:flex;justify-content:space-between;align-items:center;">
                                            <a th:if="${product.is_deleted} == 1" th:href="@{/admin/products/enable-product/{id}(id = ${product.id})}"
                                               class="btn btn-primary">Enable</a>
                                            <a th:if="${product.is_deleted} == 0" th:href="@{/admin/products/delete-product/{id}(id = ${product.id})}"
                                               class=" btn btn-danger">Delete</a>
                                            <a th:href="@{/admin/products/update-product/{id}(id= ${product.id})}" class="btn btn-primary">Update</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>







                <!--Pagination  -->
                <div style="display:flex;justify-content:center;align-items:center;margin-top: 1rem;">
                    <ul class="pagination">
                        <li th:if="${currentPage -1 > 0}" class="page-item">
                            <a th:href="@{'/admin/products/' + ${currentPage - 1}}" class="page-link">Previous</a>
                        </li>

                        <li th:if="${currentPage - 1 > 0}" class="page-item">
                            <a th:href="@{'/admin/products/' + ${currentPage - 1}}" class="page-link" th:text="${currentPage-1}"></a>
                        </li>

                        <li th:class="${currentPage == currentPage ? 'page-item active' : 'page-item'}">
                            <a th:href="@{'/admin/products/' + ${currentPage}}" class="page-link" th:text="${currentPage}"></a>
                        </li>

                        <li th:if="${currentPage + 1 <= totalPages}" class="page-item">
                            <a th:href="@{'/admin/products/' + ${currentPage + 1}}" class="page-link" th:text="${currentPage+1}"></a>
                        </li>

                        <li th:if="${currentPage + 1 <= totalPages}" class="page-item">
                            <a th:href="@{'/admin/products/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>
                        </li>
                    </ul>


                </div>
                <!--Pagination  -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!--&lt;!&ndash; Scroll to Top Button&ndash;&gt;-->
<!--<a th:replace = "~{fragments::scroll}">-->
<!--</a>-->


<!-- Bootstrap core JavaScript-->
<div th:replace = "~{admin/fragments/script}"></div>
</body>

</html>